<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error-出错显示页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="panel-l container clearfix">
    <div class="error">
        <p class="title">
            异常名：<span class="code" th:text="${exception}"></span>
        </p>
        <p class="title">
            异常消息：<span class="code" th:text="${message}"></span>
        </p>
        <p class="title">
            出错时的请求URL：<span class="code" th:text="${path}"></span>
        </p>
        <p class="title">
            状态码：<span class="code" th:text="${status}"></span>非常抱歉，没有找到您要查看的页面
        </p>
        <div class="common-hint-word">
            出错时间：<div th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></div>
            错误信息：<div th:text="${error}"></div>
        </div>
    </div>
</div>
</body>
</html>
